/* src/components/CreateAuction.css */

.create-auction-page {
  max-width: 580px;
  margin: auto;
  padding: 20px;
  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

.alert {
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 12px;
}

.alert.error {
  background: #ef4444;
}

.alert.success {
  background: #22c55e;
}

.form-box {
  background: #1f2937;
  padding: 20px;
  border-radius: 10px;
}

label {
  display: block;
  margin-top: 12px;
  margin-bottom: 4px;
  color: #f3f4f6;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: none;
  margin-bottom: 10px;
}

.create-btn {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #3b82f6;
  border: none;
  color: white;
  border-radius: 6px;
}

.back-btn {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: #374151;
  border: none;
  color: white;
  border-radius: 6px;
}
